/***
* Stylesheet. Provides some styling for third party libraries (toastify, etc)
* and some basic style settings.
**/
@import url('../thirdparty-based-components/style.css');

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

:root {
  --toastify-font-family: satoshi;
  --toastify-toast-width: 490px;
  --toastify-color-progress-light: linear-gradient(
    to right,
    #a2e66b,
    #018fa9
  );

  --toastify-color-error: linear-gradient(
      to right,
      #ffb01d,
      #DC3545
      /* #ff4635 */
      
    );
    /* #d70eff */
}

.Toastify__close-button>svg{
  fill: blue!important;
  width:24px;
  height:24px;
}

:is(.dark .Toastify__close-button>svg){
  fill: white!important;
}


:root{
  --color-primary:  #08407E;
  --color-primary-2:  color-mix(in srgb, var(--color-primary) 2% , transparent);
  --color-primary-5:  color-mix(in srgb, var(--color-primary) 5% , transparent);
  --color-primary-10: color-mix(in srgb, var(--color-primary) 10%, transparent);
  --color-primary-20: color-mix(in srgb, var(--color-primary) 20%, transparent);
  --color-primary-30: color-mix(in srgb, var(--color-primary) 30%, transparent);
  --color-primary-40: color-mix(in srgb, var(--color-primary) 40%, transparent);
  --color-primary-50: color-mix(in srgb, var(--color-primary) 50%, transparent);
  --color-primary-60: color-mix(in srgb, var(--color-primary) 60%, transparent);
  --color-primary-70: color-mix(in srgb, var(--color-primary) 70%, transparent);
  --color-primary-80: color-mix(in srgb, var(--color-primary) 80%, transparent);
  --color-primary-90: color-mix(in srgb, var(--color-primary) 90%, transparent);

  --color-primary-highlighted: #215CAF;

  --color-background: color-mix(in srgb, var(--color-primary) 5% , white);

  /** Dynamically overwritten by the color mode */
  --color-plainfont: #000000;
  --color-plainfont-inv: #FFFFFF;
  --color-reducedfont: #64748B;
  --color-stroke: #E2E8F0;
}